@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

@page {
    margin: 0.5cm;
}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

a img {
  border: none;
}

/* Gets rid of IE's blue borders */

textarea {
  resize: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html,
body,
div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  position: relative;
}

img,
video,
audio {
  max-width: 100%;
}

img,
video {
  height: auto;
}

svg {
  max-height: 100%;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 0.15rem;
  font-size: 115%;
  margin-right: 3px;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

html,
body {
  font-size: 18px;
  line-height: 1.5;
}

body {
  background-color: transparent;
  color: #000000;
  font-family: "Droid Sans", sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: #f05223;
}

a:hover {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 27px;
  color: #f05223;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1;
}

h1,
._h1 {
  font-size: 48px;
}

h2,
._h2 {
  font-size: 36px;
}

h3,
._h3 {
  font-size: 24px;
}

h4,
._h4 {
  font-size: 21px;
}

h5,
._h5 {
  font-size: 18px;
}

h6,
._h6 {
  font-size: 16px;
}

h1 a,
._h1 a,
h2 a,
._h2 a,
h3 a,
._h3 a,
h4 a,
._h4 a,
h5 a,
._h5 a,
h6 a,
._h6 a {
  color: inherit;
}

ul,
ul ul,
ul ol,
ol,
ol ul,
ol ol {
  margin: 0 0 0 27px;
}

ol ol li {
  list-style-type: lower-alpha;
}

ol ol ol li {
  list-style-type: lower-roman;
}

nav ul,
nav ol {
  margin: 0;
  list-style: none;
}

dl dt {
  font-weight: bold;
}

dd {
  margin-left: 27px;
}

p,
blockquote,
hr,
pre,
ol,
ul,
dl,
table,
fieldset,
figure,
address,
form {
  margin-bottom: 27px;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -1px;
}

blockquote {
  padding-left: 1rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  font-style: italic;
  color: rgba(0, 0, 0, 0.65);
}

blockquote p {
  margin-bottom: .5rem;
}

time,
cite,
small,
figcaption {
  font-size: 87.5%;
}

cite {
  opacity: .6;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}

var {
  font-size: 18px;
  opacity: .6;
  font-style: normal;
}

mark,
code,
samp,
kbd {
  position: relative;
  top: -1px;
  padding: 4px 4px 2px 4px;
  display: inline-block;
  line-height: 1;
  color: rgba(0, 0, 0, 0.85);
}

kbd {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

sub,
sup {
  font-size: x-small;
  line-height: 0;
  margin-left: 1rem/4;
  position: relative;
}

sup {
  top: 0;
  vertical-align: super;
}

sub {
  bottom: 1px;
  vertical-align: sub;
}

pre,
code,
samp,
var,
kbd {
  font-family: Consolas, Monaco, "Courier New", monospace;
}

pre,
code,
samp,
var,
kbd,
mark {
  font-size: 87.5%;
}

pre,
pre code {
  background: #f8f8f8;
  padding: 0;
  top: 0;
  display: block;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
  overflow: none;
  white-space: pre-wrap;
}

pre {
  padding: 1rem;
}

figcaption {
  opacity: .6;
}

figure figcaption {
  position: relative;
  top: -1rem/2;
}

figure pre {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

figure .video-container,
figure pre {
  margin-bottom: 13.5px;
}

._tal,
._text-left {
  text-align: left;
}

._tac,
._text-center {
  text-align: center;
}

._tar,
._text-right {
  text-align: right;
}

ul._unstyled,
.Pagination ul,
ul.Box-social {
  margin-left: 0;
}

ul._unstyled,
.Pagination ul,
ul.Box-social,
ul._unstyled ul,
.Pagination ul ul,
ul.Box-social ul {
  list-style: none;
}

._monospace {
  font-family: Consolas, Monaco, "Courier New", monospace;
}

._upper {
  text-transform: uppercase;
}

._lower {
  text-transform: lowercase;
}

em,
._italic {
  font-style: italic !important;
}

strong,
b,
._strong {
  font-weight: bold !important;
}

._normal {
  font-weight: normal !important;
}

._muted {
  opacity: .55;
}

a._muted {
  color: #000000;
}

a._muted:hover {
  opacity: 1;
}

small,
._small {
  font-size: 16px;
}

._end {
  margin-bottom: 0 !important;
}

._nowrap,
._nowrap td {
  white-space: nowrap;
}

._columns-2,
._columns-3,
._columns-4 {
  column-gap: 27px;
}

._columns-2 {
  column-count: 2;
}

._columns-3 {
  column-count: 3;
}

._columns-4 {
  column-count: 4;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: none;
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }

  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

._invisible {
  visibility: hidden;
}

._visible {
  visibility: visible;
}

._display-block {
  display: block;
}

._hide {
  display: none !important;
}

@media (max-width: 768px) {
  ._hide-sm {
    display: none !important;
  }
}

@media (min-width: 769px) {
  ._show-sm {
    display: none !important;
  }
}

@media print {
  ._hide-print {
    display: none !important;
  }

  ._show-print {
    display: block !important;
  }
}

._no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  overflow: hidden;
}

._video-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 27px;
}

._video-container iframe,
._video-container object,
._video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

._mb0 {
  margin-bottom: 0px !important;
}

._mb5 {
  margin-bottom: 5px !important;
}

._mb10 {
  margin-bottom: 10px !important;
}

._mb15 {
  margin-bottom: 15px !important;
}

._mb20 {
  margin-bottom: 20px !important;
}

._mb25 {
  margin-bottom: 25px !important;
}

._mb30 {
  margin-bottom: 30px !important;
}

._mb35 {
  margin-bottom: 35px !important;
}

._mb40 {
  margin-bottom: 40px !important;
}

._mb45 {
  margin-bottom: 45px !important;
}

._mb50 {
  margin-bottom: 50px !important;
}

._mb55 {
  margin-bottom: 55px !important;
}

._mb60 {
  margin-bottom: 60px !important;
}

._mb65 {
  margin-bottom: 65px !important;
}

._mb70 {
  margin-bottom: 70px !important;
}

._mb75 {
  margin-bottom: 75px !important;
}

._mb80 {
  margin-bottom: 80px !important;
}

._mb85 {
  margin-bottom: 85px !important;
}

._mb90 {
  margin-bottom: 90px !important;
}

._mb95 {
  margin-bottom: 95px !important;
}

._mb100 {
  margin-bottom: 100px !important;
}

._group:after {
  content: '';
  display: table;
  clear: both;
}

._float-right {
  float: right;
}

._float-left {
  float: left;
}

@media (max-width: 768px) {
  ._float-right {
    float: none;
  }

  ._float-left {
    float: none;
  }
}

._fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

._mid {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

._w5 {
  width: 5%;
}

._w10 {
  width: 10%;
}

._w15 {
  width: 15%;
}

._w20 {
  width: 20%;
}

._w25 {
  width: 25%;
}

._w30 {
  width: 30%;
}

._w35 {
  width: 35%;
}

._w40 {
  width: 40%;
}

._w45 {
  width: 45%;
}

._w50 {
  width: 50%;
}

._w55 {
  width: 55%;
}

._w60 {
  width: 60%;
}

._w65 {
  width: 65%;
}

._w70 {
  width: 70%;
}

._w75 {
  width: 75%;
}

._w80 {
  width: 80%;
}

._w85 {
  width: 85%;
}

._w90 {
  width: 90%;
}

._w95 {
  width: 95%;
}

._w100 {
  width: 100%;
}

._w-auto {
  width: auto;
}

.Breadcrumbs {
  font-size: 16px;
  margin-bottom: 1.5;
}

.Breadcrumbs ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.Breadcrumbs._centered ul {
  -ms-flex-pack: center;
  justify-content: center;
}

.Breadcrumbs span,
.Breadcrumbs a {
  font-style: normal;
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
}

.Breadcrumbs li:after {
  display: inline-block;
  content: '/';
  color: rgba(0, 0, 0, 0.3);
}

.Breadcrumbs li:last-child:after {
  display: none;
}

.Breadcrumbs li:first-child span,
.Breadcrumbs li:first-child a {
  padding-left: 0;
}

.Breadcrumbs li._active a {
  color: #000000;
  text-decoration: none;
  cursor: text;
}

.Button {
  display: inline-block;
  height: 60px;
  padding: 0 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #f05223;
  color: #ffffff;
  font-size: 16px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  line-height: 58px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  transition: background 200ms ease;
  -webkit-appearance: none;
}

.Button:hover {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #db3e0f;
}

.Button:disabled,
.Button._disabled {
  background-color: rgba(240, 82, 35, 0.7);
  color: white;
  cursor: default;
  font-style: normal;
}

.Button._outline {
  border-width: 2px;
  border-color: #f05223;
  background: none;
  color: #f05223;
}

.Button._outline:hover {
  border-color: rgba(240, 82, 35, 0.5);
  background: none;
  color: rgba(240, 82, 35, 0.6);
}

.Button._outline:disabled,
.Button._outline._disabled {
  border-color: rgba(240, 82, 35, 0.5);
  background: none;
  color: rgba(240, 82, 35, 0.7);
}

.Button._raised {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.Button._upper {
  text-transform: uppercase;
  letter-spacing: .04em;
}

.Button._rounded {
  border-radius: 30px;
}

.Button._secondary {
  background-color: #000000;
  color: #ffffff;
}

.Button._secondary:hover {
  background-color: black;
  color: #ffffff;
}

.Button._secondary:disabled,
.Button._secondary._disabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.Button._secondary._outline {
  border-color: #000000;
  background: none;
  color: #000000;
}

.Button._secondary._outline:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.6);
}

.Button._secondary._outline:disabled,
.Button._secondary._outline._disabled {
  border-color: rgba(0, 0, 0, 0.5);
  background: none;
  color: rgba(0, 0, 0, 0.7);
}

.Form {
  margin-bottom: 27px;
}

.Form fieldset {
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: inherit;
}

.Form fieldset legend {
  position: relative;
  margin-left: -1rem;
  padding: 0 1rem;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 0;
}

.Form .form-item {
  margin-bottom: 27px;
}

.Form .form-item label {
  display: block;
  color: #000000;
  margin-bottom: 4px;
  font-size: 17px;
}

.Form .form-item label._checkbox {
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
  cursor: pointer;
}

.Form .form-item label._checkbox input {
  margin-top: 0;
}

.Form .form-item > div._append,
.Form .form-item > div._prepend {
  display: -ms-flexbox;
  display: flex;
}

.Form .form-item > div._append input,
.Form .form-item > div._prepend input {
  -ms-flex: 1;
  flex: 1;
}

.Form .form-item > div._append .Button,
.Form .form-item > div._append span,
.Form .form-item > div._prepend .Button,
.Form .form-item > div._prepend span {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.Form .form-item > div._append span,
.Form .form-item > div._prepend span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: normal;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #f8f8f8;
  padding: 0 .875rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  white-space: nowrap;
}

.Form .form-item > div._prepend input {
  border-radius: 0 0 0 0;
}

.Form .form-item > div._prepend .Button {
  margin-right: -1px;
  border-radius: 0 0 0 0 !important;
}

.Form .form-item > div._prepend span {
  border-right: none;
  border-radius: 0 0 0 0;
}

.Form .form-item > div._append input {
  border-radius: 0 0 0 0;
}

.Form .form-item > div._append .Button {
  margin-left: -1px;
  border-radius: 0 0 0 0 !important;
}

.Form .form-item > div._append span {
  border-left: none;
  border-radius: 0 0 0 0;
}

.Form .form-item._checkboxes label.checkbox {
  display: inline-block;
  margin-right: 16px;
}

.Form .form-item._buttons button,
.Form .form-item._buttons .Button {
  margin-right: 8px;
}

.Form._horizontal .form-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Form._horizontal .form-item label {
  width: 30%;
  line-height: 60px;
}

.Form._horizontal .form-item > div {
  width: 70%;
}

@media (max-width: 768px) {
  .Form._horizontal .form-item {
    display: block;
  }

  .Form._horizontal .form-item label,
  .Form._horizontal .form-item > div {
    width: 100%;
  }
}

.Form._inline input,
.Form._inline textarea,
.Form._inline select {
  display: inline-block;
  width: auto;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  background-color: transparent;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  outline: none;
  vertical-align: middle;
  box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #3498db;
  box-shadow: none;
  outline: none;
}

input._error,
textarea._error,
select._error {
  border: 1px solid #ef8b80;
  background-color: rgba(231, 76, 60, 0.1);
}

input._error:focus,
textarea._error:focus,
select._error:focus {
  border-color: #e74c3c;
  box-shadow: 0 0 1px #e74c3c inset;
}

input._success,
textarea._success,
select._success {
  border: 1px solid #69dd9a;
  background-color: rgba(46, 204, 113, 0.1);
}

input._success:focus,
textarea._success:focus,
select._success:focus {
  border-color: #2ecc71;
  box-shadow: 0 0 1px #2ecc71 inset;
}

input:disabled,
input._disabled,
textarea:disabled,
textarea._disabled,
select:disabled,
select._disabled {
  resize: none;
  opacity: 0.6;
  cursor: default;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

input[type="submit"] {
  width: auto;
}

input[type="file"] {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  padding: 0;
  background: none;
  box-shadow: none;
}

input[type="search"],
input._search {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: 8px 53%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#000" fill-opacity="0.4" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  box-shadow: none;
}

textarea {
  height: auto;
  padding: 8px 12px;
  vertical-align: top;
}

select {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" viewBox="0 0 9 12"><path fill="#5e6c75" d="M0.722,4.823L-0.01,4.1,4.134-.01,4.866,0.716Zm7.555,0L9.01,4.1,4.866-.01l-0.732.726ZM0.722,7.177L-0.01,7.9,4.134,12.01l0.732-.726Zm7.555,0L9.01,7.9,4.866,12.01l-0.732-.726Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem center;
}

select[multiple] {
  height: auto;
  padding: .5rem .75rem;
  background-image: none;
}

.Row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .Row {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.Row ._col-1 {
  width: 8.3333333333%;
}

.Row ._offset-1 {
  margin-left: 8.3333333333%;
}

.Row ._col-2 {
  width: 16.6666666667%;
}

.Row ._offset-2 {
  margin-left: 16.6666666667%;
}

.Row ._col-3 {
  width: 25%;
}

.Row ._offset-3 {
  margin-left: 25%;
}

.Row ._col-4 {
  width: 33.3333333333%;
}

.Row ._offset-4 {
  margin-left: 33.3333333333%;
}

.Row ._col-5 {
  width: 41.6666666667%;
}

.Row ._offset-5 {
  margin-left: 41.6666666667%;
}

.Row ._col-6 {
  width: 50%;
}

.Row ._offset-6 {
  margin-left: 50%;
}

.Row ._col-7 {
  width: 58.3333333333%;
}

.Row ._offset-7 {
  margin-left: 58.3333333333%;
}

.Row ._col-8 {
  width: 66.6666666667%;
}

.Row ._offset-8 {
  margin-left: 66.6666666667%;
}

.Row ._col-9 {
  width: 75%;
}

.Row ._offset-9 {
  margin-left: 75%;
}

.Row ._col-10 {
  width: 83.3333333333%;
}

.Row ._offset-10 {
  margin-left: 83.3333333333%;
}

.Row ._col-11 {
  width: 91.6666666667%;
}

.Row ._offset-11 {
  margin-left: 91.6666666667%;
}

.Row ._col-12 {
  width: 100%;
}

.Row ._offset-12 {
  margin-left: 100%;
}

.Row._gutters > ._col-1 {
  width: calc(8.3333333333% - 3%);
}

.Row._gutters > ._offset-1 {
  margin-left: calc(8.3333333333% + 3%) !important;
}

.Row._gutters > ._col-2 {
  width: calc(16.6666666667% - 3%);
}

.Row._gutters > ._offset-2 {
  margin-left: calc(16.6666666667% + 3%) !important;
}

.Row._gutters > ._col-3 {
  width: calc(25% - 3%);
}

.Row._gutters > ._offset-3 {
  margin-left: calc(25% + 3%) !important;
}

.Row._gutters > ._col-4 {
  width: calc(33.3333333333% - 3%);
}

.Row._gutters > ._offset-4 {
  margin-left: calc(33.3333333333% + 3%) !important;
}

.Row._gutters > ._col-5 {
  width: calc(41.6666666667% - 3%);
}

.Row._gutters > ._offset-5 {
  margin-left: calc(41.6666666667% + 3%) !important;
}

.Row._gutters > ._col-6 {
  width: calc(50% - 3%);
}

.Row._gutters > ._offset-6 {
  margin-left: calc(50% + 3%) !important;
}

.Row._gutters > ._col-7 {
  width: calc(58.3333333333% - 3%);
}

.Row._gutters > ._offset-7 {
  margin-left: calc(58.3333333333% + 3%) !important;
}

.Row._gutters > ._col-8 {
  width: calc(66.6666666667% - 3%);
}

.Row._gutters > ._offset-8 {
  margin-left: calc(66.6666666667% + 3%) !important;
}

.Row._gutters > ._col-9 {
  width: calc(75% - 3%);
}

.Row._gutters > ._offset-9 {
  margin-left: calc(75% + 3%) !important;
}

.Row._gutters > ._col-10 {
  width: calc(83.3333333333% - 3%);
}

.Row._gutters > ._offset-10 {
  margin-left: calc(83.3333333333% + 3%) !important;
}

.Row._gutters > ._col-11 {
  width: calc(91.6666666667% - 3%);
}

.Row._gutters > ._offset-11 {
  margin-left: calc(91.6666666667% + 3%) !important;
}

.Row._gutters > ._col-12 {
  width: calc(100% - 3%);
}

.Row._gutters > ._offset-12 {
  margin-left: calc(100% + 3%) !important;
}

@media (max-width: 768px) {
  .Row .col[class^='_offset-'],
  .Row .col[class*=' _offset-'] {
    margin-left: 0;
  }
}

.Row .col._first {
  -ms-flex-order: -1;
  order: -1;
}

.Row .col._last {
  -ms-flex-order: 1;
  order: 1;
}

.Row._gutters,
.Row._gutters > .Row {
  margin-left: -3%;
}

@media (max-width: 768px) {
  .Row._gutters,
  .Row._gutters > .Row {
    margin-left: 0;
  }
}

.Row._gutters > .col,
.Row._gutters > .Row > .col {
  margin-left: 3%;
}

@media (max-width: 768px) {
  .Row._gutters > .col,
  .Row._gutters > .Row > .col {
    margin-left: 0;
  }
}

.Row._auto .col {
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

@media (max-width: 768px) {
  .Row .col {
    margin-left: 0;
    width: 100%;
  }

  .Row .col._first-sm {
    -ms-flex-order: -1;
    order: -1;
  }

  .Row .col._last-sm {
    -ms-flex-order: 1;
    order: 1;
  }
}

.Message {
  position: relative;
  padding: 1rem;
  padding-right: 2.5em;
  padding-bottom: .75rem;
  margin-bottom: 27px;
  background: #eee;
  color: #000000;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Message a {
  color: inherit;
}

.Message p,
.Message h1,
.Message h2,
.Message h3,
.Message h4,
.Message h5,
.Message h6 {
  margin-bottom: 0;
}

.Message._error {
  background: #e74c3c;
  color: #fff;
}

.Message._success {
  background: #2ecc71;
  color: #fff;
}

.Message._warning {
  background: #f7ca18;
}

.Message._focus {
  background: #3498db;
  color: #fff;
}

.Pagination {
  margin: 27px 0;
  font-size: 16px;
}

.Pagination ul {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.Pagination ul li {
  margin: 0 1px;
}

.Pagination ul li span,
.Pagination ul li a {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 1;
  white-space: nowrap;
}

.Pagination ul li a {
  color: #000000;
  text-decoration: none;
}

.Pagination ul li a:hover {
  border-color: #eee;
  color: rgba(0, 0, 0, 0.5);
}

.Pagination ul li span,
.Pagination ul li._active a {
  color: rgba(0, 0, 0, 0.5);
  border-color: #eee;
  cursor: text;
}

.Pagination._centered ul {
  -ms-flex-pack: center;
  justify-content: center;
}

.Pagination._pager li {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.Pagination._pager li.next {
  text-align: right;
}

.Pagination._pager li a {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 64px;
  border-color: rgba(0, 0, 0, 0.1);
}

.Pagination._pager._centered li {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-left: 4px;
  margin-right: 4px;
}

.Table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  line-height: 1.5;
  empty-cells: show;
}

.Table caption {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.Table th {
  text-align: left;
  font-weight: 700;
  vertical-align: bottom;
}

.Table td {
  vertical-align: top;
}

.Table th,
.Table td {
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.Table th:first-child,
.Table td:first-child {
  padding-left: 0;
}

.Table th:last-child,
.Table td:last-child {
  padding-right: 0;
}

.Table tfoot th,
.Table tfoot td {
  color: rgba(0, 0, 0, 0.5);
}

.Table._bordered td,
.Table._bordered th {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.Table._striped tr:nth-child(odd) td {
  background: #f8f8f8;
}

.Table._bordered td:first-child,
.Table._bordered th:first-child,
.Table._striped td:first-child,
.Table._striped th:first-child {
  padding-left: 1rem;
}

.Table._bordered td:last-child,
.Table._bordered th:last-child,
.Table._striped td:last-child,
.Table._striped th:last-child {
  padding-right: 1rem;
}

.Table._unstyled td,
.Pagination ul.Table td,
.Table.Box-social td,
.Table._unstyled th,
.Pagination ul.Table th,
.Table.Box-social th {
  border: none;
  padding: 0;
}

.Table tr._align-middle td,
.Table td._align-middle {
  vertical-align: middle;
}

.wpcf7-form-control-wrap {
  display: inline-block;
  width: 100%;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  top: -15px;
  left: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 12px;
}

.wpcf7-not-valid {
  border-color: #e74c3c;
}

div.wpcf7-response-output {
  border: 0 !important;
  padding: 30px 0 0;
  margin: 0;
  font-size: 16px;
}

div.wpcf7-mail-sent-ok {
  color: #2ecc71;
}

div.wpcf7-validation-errors,
div.wpcf7-spam-blocked {
  color: #f7ca18;
}

div.wpcf7-mail-sent-ng,
span.wpcf7-not-valid-tip {
  color: #e74c3c;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 740px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

body {
  padding-top: 127px;
}

section {
  padding: 80px 0 40px;
}

._orange {
  color: #f05223;
}

._black {
  color: #000000;
}

._lightgray {
  color: #f8f8f8;
}

._white {
  color: #fff;
}

._bg-orange {
  background-color: #f05223;
}

._bg-black {
  background-color: #000000;
}

._bg-lightgray {
  background-color: #f8f8f8;
}

._bg-white {
  background-color: #fff;
}

._light {
  font-weight: lighter;
}

._sb {
  font-weight: 600;
}

.titulo {
  font-weight: lighter;
}

.titulo:before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f05223;
  margin: 0 0 40px;
}

.titulo._tac:before {
  margin: 0 auto 40px;
}

.titulo._line-white:before {
  background-color: #fff;
}

._items-middle {
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .open-menu {
    overflow: hidden;
  }

  .wow {
    visibility: visible !important;
    animation-name: none !important;
  }

  .Row._gutters > .col,
  .Row._gutters > .Row > .col {
    width: 100%;
  }

  .Row .col._last,
  .Row .col._first {
    -ms-flex-order: 0;
    order: 0;
  }
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 6px solid #f05223;
  z-index: 10;
  transition: 200ms;
}

.Header .menuToggle {
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 25px;
}

.Header .Menu {
  position: absolute;
  top: 30px;
  right: 250px;
}

.Header ._topo {
  position: absolute;
  top: 6px;
  right: 170px;
}

.Header .Button {
  position: absolute;
  top: 4px;
  right: 0;
  width: 140px;
  height: 40px;
  padding: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.Header._fixed {
  padding: 20px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
}

.Header._fixed .wow {
  visibility: visible !important;
}

@media (max-width: 992px) {
  .Header .Button {
    width: 100px;
  }

  .Header ._topo {
    right: 110px;
  }

  .Header .Menu {
    right: 185px;
  }

  .Header .logo {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .Header {
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .Header .Menu {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 64px;
    left: -6%;
    width: 112%;
    height: calc(100vh - 84px);
    padding: 20px 0;
    text-align: center;
    overflow-x: hidden;
  }

  .Header .menuToggle {
    display: block;
  }

  .Header .Button {
    display: none;
  }

  .Header ._topo {
    right: 50px;
  }
}

.Menu .nav li {
  display: inline-block;
}

.Menu .nav li a {
  display: block;
  padding: 12px 15px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.Menu .nav li a:hover {
  color: #f05223;
}

.Menu .nav li.ativo a {
  color: #f05223;
}

._fixed .Menu .nav li a {
  color: #000000;
}

._fixed .Menu .nav li a:hover {
  color: #f05223;
}

._fixed .Menu .nav li.ativo a {
  color: #f05223;
}

@media (max-width: 992px) {
  .Menu .nav li a {
    padding: 12px 5px;
  }
}

@media (max-width: 768px) {
  .Menu .nav li {
    display: block;
  }

  .Menu .nav li a {
    padding: 5px;
    color: #000000;
  }

  .Menu .nav li a:hover {
    color: #f05223;
  }
}

.Footer {
  padding: 10px;
  background-color: #000000;
  color: #fff;
}

.Footer p {
  font-size: 12px;
  margin: 0;
}

.Logo {
  display: block;
  width: 203px;
  background: transparent url("../images/logo.png") no-repeat center center;
  background-size: contain;
  font-size: 1px;
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  width: 110px;
}

.Logo:after {
  content: '';
  display: block;
  padding-top: 85.2216748768%;
}

.Logo._white {
  display: inline-block;
  width: 200px;
}

.Form div.wpcf7 .ajax-loader {
  width: 20px;
  height: 20px;
  background-image: url("../images/ajax-loader.gif");
  background-size: cover;
}

.Form input[type=text],
.Form input[type=email],
.Form textarea,
.Form select {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #fff;
  font-weight: 500;
}

.Form input[type=text]:focus,
.Form input[type=email]:focus,
.Form textarea:focus,
.Form select:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

.Form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.Form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.Form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.Form :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.Form .form-item {
  margin-bottom: 25px;
}

.Form .small-text {
  position: absolute;
  top: -10px;
  left: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  transition: 200ms;
}

.Form .Button._w100 {
  width: 100%;
}

.Form div.wpcf7-response-output {
  position: absolute;
  bottom: -10px;
  left: 0;
  font-size: 14px;
}

.Form .use-floating-validation-tip span.wpcf7-not-valid-tip {
  top: auto;
  left: 0;
  font-size: 10px;
}

.Form._orcamento {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: -40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.Form._orcamento .form-item {
  float: left;
  width: 20%;
  margin: 0;
}

.Form._orcamento .form-item input {
  height: 80px;
  padding: 20px 20px 0;
  background-color: #f05223;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.Form._orcamento .form-item .Button {
  width: 100%;
  padding: 0;
  height: 80px;
  line-height: 80px;
}

.Form._orcamento .form-item .Button._darkgray {
  background-color: #000000;
  color: #fff;
}

.Form._orcamento .form-item .Button._darkgray:hover {
  background-color: black;
  color: #fff;
}

.Form._orcamento .form-item .Button._darkgray:disabled,
.Form._orcamento .form-item .Button._darkgray._disabled {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.Form._orcamento .form-item .Button._darkgray._outline {
  border-color: #000000;
  background: none;
  color: #000000;
}

.Form._orcamento .form-item .Button._darkgray._outline:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.6);
}

.Form._orcamento .form-item .Button._darkgray._outline:disabled,
.Form._orcamento .form-item .Button._darkgray._outline._disabled {
  border-color: rgba(0, 0, 0, 0.5);
  background: none;
  color: rgba(0, 0, 0, 0.7);
}

.Form._orcamento .small-text {
  top: 10px;
  left: 20px;
}

.Form._contato {
  display: block;
  width: 540px;
  max-width: 100%;
  margin: 0 0 0 auto;
}

.Form._contato .form-item {
  margin-bottom: 29px;
}

.Form._contato ._topo {
  background-color: rgba(255, 255, 255, 0.16);
  margin-bottom: 48px;
}

.Form._contato ._topo .form-item {
  margin-bottom: 0;
}

.Form._contato ._topo .form-item input {
  height: 94px;
  padding: 20px 20px 0;
}

.Form._contato ._topo .form-item .small-text {
  top: 10px;
  left: 20px;
}

.Form._contato ._topo ._border {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.Form._contato ._topo ._border input {
  border-color: transparent;
}

.Form._contato ._topo .col:last-child input {
  border-color: transparent;
}

.Form._news .Button {
  padding: 0;
  width: 60px;
}

.Form._news .form-item > div._append span {
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.Form._news .form-item > div._append span.small-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.Form._news .form-item > div._append span.wpcf7-not-valid-tip {
  display: none;
}

.Form._news .form-item > div._append span.ajax-loader {
  -ms-flex: none;
  flex: none;
  position: absolute;
  left: 0;
  top: 70px;
}

.Form._news div.wpcf7-response-output {
  top: 50px;
  bottom: auto;
  line-height: normal;
}

@media (max-width: 992px) {
  .Form._orcamento .form-item {
    width: 50%;
  }

  .Form._orcamento .form-item._button {
    width: 100%;
  }

  .Form._contato {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Form._contato ._topo {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Form._contato ._topo .col {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .Form._orcamento .form-item {
    width: 100%;
  }

  .Form._contato ._topo .col {
    width: 100%;
  }

  .Form._contato ._topo ._border {
    border-right: 0;
  }

  .Form._contato ._topo ._border input {
    border-color: rgba(255, 255, 255, 0.3);
  }

  .Form._contato ._topo .col:last-child input {
    border-color: rgba(255, 255, 255, 0.3);
  }

  .Form._contato .wpcf7-response-output {
    bottom: -40px;
    text-align: center;
  }
}

.Banner .item {
  padding-top: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Banner .item .container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  margin-left: -555px;
}

.Banner .item .wow {
  visibility: hidden !important;
  animation-name: unset !important;
}

.Banner .active .item .wow {
  visibility: visible !important;
}

.Banner .active .item .title {
  animation-name: fadeInUp !important;
}

.Banner .active .item span.local {
  animation-name: fadeIn !important;
  animation-delay: 0.5s;
}

.Banner .texto {
  width: 440px;
  max-width: 100%;
  color: #fff;
  font-weight: 500;
}

.Banner .texto i {
  color: #f05223;
}

.Banner .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.Banner .owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #f05223;
  vertical-align: middle;
}

.Banner .owl-dots .owl-dot.active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .Banner .item {
    padding-top: 600px;
  }

  .Banner .item .container {
    margin-left: -485px;
  }
}

@media (max-width: 992px) {
  .Banner .item .container {
    margin-left: -370px;
  }
}

@media (max-width: 768px) {
  .Banner .item .container {
    margin-left: -45%;
  }
}

.Itens {
  padding: 90px 0 100px;
}

.Itens i {
  display: inline-block;
  margin-bottom: 10px;
  color: #f05223;
  font-size: 74px;
  line-height: 74px;
}

.Itens i:before {
  width: auto;
  height: auto;
  margin: 0;
  line-height: normal;
}

.Itens .item {
  padding: 0 26px;
}

.Itens .item p {
  line-height: 1.4;
}

.Itens .container {
  padding: 0 60px;
}

.Itens._bg-orange i {
  color: rgba(255, 255, 255, 0.5);
}

.Itens._horizontal {
  padding-bottom: 18px;
}

.Itens._horizontal i {
  float: left;
  width: 96px;
  height: 100%;
}

.Itens._horizontal p {
  line-height: 1.8;
}

.Itens._horizontal .item {
  padding: 0 16px;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .Itens .item {
    padding: 0 16px;
  }
}

@media (max-width: 992px) {
  .Itens .item._col-4 {
    width: calc(50% - 3%);
  }

  .Itens._horizontal {
    padding-bottom: 18px;
  }

  .Itens._horizontal i {
    display: block;
    float: none;
    width: 100%;
    height: auto;
  }

  .Itens._horizontal p {
    line-height: 1.4;
  }

  .Itens._horizontal .item {
    padding: 0 26px;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Itens {
    padding: 80px 0 40px;
  }

  .Itens .item._col-4 {
    width: 100%;
  }

  .Itens._horizontal .item {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .Itens .container {
    padding: 0;
  }
}

.Box-social {
  position: absolute;
  top: 32px;
  right: 0;
  margin: 0;
}

.Box-social li {
  display: inline-block;
}

.Box-social li a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.Box-social li a i:before {
  width: auto;
  margin: 0;
  vertical-align: middle;
}

.Contato {
  padding: 120px 0 40px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 992px) {
  .Contato .Row._gutters > ._col-4,
  .Contato .Row._gutters > ._col-8 {
    width: 100%;
  }

  .Contato .fale,
  .Contato .newsletter {
    float: left;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .Contato .fale,
  .Contato .newsletter {
    float: none;
    width: 100%;
  }

  .Contato .newsletter {
    margin-bottom: 60px;
  }
}