    <footer class="Footer">
        <div class="copyright">
            <div class="container">
                <p class="_tac">Copyright © 2018 {{ site.name }}. Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

	{{ wp_footer }}
    
	<script src="{{ theme.link }}/assets/js/app.js"></script>

    {# AIzaSyDhctBn5itklHRe5kV724_F_AXQ7VtBWws #}
	<script>
    	// Web fonts
        WebFontConfig = {
            google: {
              families: ['Droid Sans', 'Droid Serif']
            },
            custom: {
                families: ['fontello'],
                urls: ['{{ theme.link }}/assets/fonts/fontello/css/fontello.css']
            }
        };

       (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    </script>
</body>
</html>
