{% extends 'base.twig' %}

{% block conteudo %}

	<div class="Banner">
		<div class="owl-carousel">
			{% for item in post.get_field('banners') %}
				<div class="item" style="background-image: url({{ Image(item.imagem) }});">
					{% if item.link %}
						<a href="{{ item.link }}" target="_blank"></a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>

	<section id="quem-somos" class="_bg-orange _white _tac">
		<div class="container">
			<a href="{{ site.url }}" class="Logo _white _mb40 wow fadeInUp" style="background-image: url({{ theme.link }}/assets/images/logo-branca.png);"></a>
			{% for item in quem_somos.get_field('textos') %}
			    <h3 class="_white  wow fadeIn">{{ item.titulo }}</h3>
			    <div class="wow fadeIn">
			    	{{ item.texto }}
			    </div>
			{% endfor %}
		</div>
	</section>

	<section id="coaches" class="_bg-lightgray">
		<div class="container">
			{% set position = '_last' %}
			{% for item in coaches.get_field('coaches') %}
			    <div class="Row _gutters _items-middle _mb40">
			    	<div class="col _col-5">
			    		<img src="{{ Image(item.foto) }}">
			    	</div>
			    	<div class="col _col-7 {{ position }}">
			    		<h3 class="">{{ item.nome }}</h3>
			    		{{ item.descricao }}
			    	</div>
			    </div>
			    {% if position == '_first' %}
					{% set position = '_last' %}
			    {% else %}
			    	{% set position = '_first' %}
			    {% endif %}
			{% endfor %}
		</div>
	</section>

	<section id="galeria">
		<div class="container">
			<h3 class="_tac">{{ galeria.title }}</h3>

			<div class="Row Galeria">
			{% for item in galeria.get_field('fotos') %}
				<div class="col _col-3">
					<a href="{{ Image(item.foto) }}">
						<img src="{{ Image(item.foto)|resize(400,400) }}">
					</a>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}