<!DOCTYPE HTML>

<html lang="pt-BR">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">

	{{ wp_head }}

	<title>{{ wp_title ? wp_title ~ ' - ' }}{{ site.name }}</title>

	<link rel="shortcut icon" href="{{ theme.link }}/src/images/favicon.ico">

	<link rel="stylesheet" type="text/css" href="{{ theme.link }}/assets/css/app.css">
	
	<style>
		.wow {visibility: hidden;}
	</style>
</head>

<body class="{{ fn('get_page_class') }}">
	<header class="Header">
		<div class="container">
			<a href="{{ site.url }}" class="Logo"></a>
			<a href="#" class="menuToggle"><i class="icon-menu"></i></a>

			<nav class="Menu">
				<ul class="nav">
					<li class="ativo"><a href="#home" class="scroll" data-target="#home">Home</a></li>
					<li><a href="#quem-somos" class="scroll" data-target="#quem-somos">Quem somos</a></li>
					<li><a href="#coaches" class="scroll" data-target="#coaches">Coaches</a></li>
					<li><a href="#galeria" class="scroll" data-target="#galeria">Galeria</a></li>
					<li><a href="#contato" class="scroll" data-target="#contato">Contato</a></li>
				</ul>
			</nav>

			<ul class="Box-social">
				{% for item in contato.get_field('redes_sociais') %}
				<li><a href="{{ item.link }}" target="_blank"><i class="icon-{{ item.nome|lower }}"></i></a></li>
				{% endfor %}
			</ul>
		</div>
	</header>