{% extends 'base.twig' %}

{% block conteudo %}

	{% include 'topo-page.twig' %}

	
	<div class="Lista _mb40">
		<div class="container">
			<h2 class="titulo-item _upper">{{ post.get_field('titulo') }}</h2>
			
			<div class="Row _gutters Galeria">
				{% for item in post.get_field('itens') %}
					<div class="col _col-6 item">
						{% if item.titulo %}
							<h2>{{ item.titulo }}</h2>
						{% endif %}

						{% if item.imagem %}
							<img src="{{ item.imagem|letterbox(600,550,'#ffffff') }}" {% if item.titulo %}alt="{{ item.titulo }}" {% endif %}class="img">
						{% endif %}
						{% if item.texto %}
							<p>{{ item.texto }}</p>
						{% endif %}

						{% if item.imagem %}
							<a href="{{ item.imagem }}" class="search-link">
								<i class="icon-search"></i> clique na imagem para ampliar.
							</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}