{% extends 'base.twig' %}

{% block conteudo %}

	{% include 'topo-page.twig' %}
	
	<div class="_tac _mb40">
		<div class="narrow">
			<h2 class="titulo-item _mb40">Preencha o formulário abaixo e saiba como adquirir o software <br>ou como testar uma versão gratuita. </h2>

			<div class="Form">
				{% filter shortcodes %}
					[contact-form-7 id="4" title="Contato" html_class="use-floating-validation-tip"]
				{% endfilter %}
			</div>
		</div>
	</div>
</div>

{% endblock %}