{% extends 'base.twig' %}

{% block conteudo %}

	{% include 'topo-page.twig' %}

	
	<div class="Lista _mb40">
		<div class="container">
			<h2 class="titulo-item _upper">{{ post.get_field('titulo') }}</h2>
			
			<div class="Row _gutters">
				{% for item in post.get_field('itens') %}
					<div class="col _col-4 item">
						{% if item.imagem %}
							<img src="{{ item.imagem|letterbox(260,260,'#ffffff') }}" {% if item.titulo %}alt="{{ item.titulo }}" {% endif %}class="img">
						{% endif %}
						{% if item.titulo %}
							<h2>{{ item.titulo }}</h2>
						{% endif %}
						{% if item.texto %}
							<p>{{ item.texto }}</p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="Imagens _beneficios">
		<div class="container">
			{% for key,item in post.get_field('imagens') %}
				<div class="item">
					<img src="{{ item.imagem }}" class="img">
					<i class="icon-arrow-down"></i>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
