{% if post.get_field('banners') %}
	{% set banners = post.get_field('banners') %}
{% else %}
	{% set banners = home.get_field('banners') %}
{% endif %}
<div class="Banner">
	<div class="owl-carousel">
		{% for item in banners|slice(0, 4) %}
			<div class="item" style="background-image: url({{ Image(item.imagem) }});">
				{% if item.legenda %}
					<div class="container">
						<p class="legenda">{{ item.legenda }}</p>
					</div>
				{% endif %}
				{% if item.link %}
					<a href="{{ item.link }}"></a>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>

<div class="page">
	<div class="container">
		<div class="titulo-ilust">
			<h3 class="titulo">{{ post.title }}</h3>
		</div>
	</div>
