.Banner {
	.item {
		padding-top: 600px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.container {
			position: absolute;
			top: 0;
			left: 50%;
			height: 100%;
			margin-left: -555px;
		}

		.wow {
			visibility: hidden !important;
			animation-name: unset !important
		}
	}


	.active {
		.item {

			.wow {
				visibility: visible !important;
			}

			.title {
				animation-name: fadeInUp !important;
			}

			span.local {
				animation-name: fadeIn !important;
				animation-delay: 0.5s;
			}
		}
	}

	.texto {
		width: 440px;
		max-width: 100%;
		color: #fff;
		font-weight: 500;

		i {
			color: $orange
		}
	}

	.owl-dots {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		text-align: center;

		.owl-dot {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 6px;
			border-radius: 50%;
			background-color: $orange;
			vertical-align: middle;

			&.active {
				width: 12px;
				height: 12px;
				background-color: #fff;
			}
		}
	}


	@include breakpoint(0, $lg) {
		.item {
			padding-top: 600px;

			.container {
				margin-left: -485px;
			}
		}
	}

	@include breakpoint(0, $md) {
		.item {
			.container {
				margin-left: -370px;
			}
		}
		
	}

	@include breakpoint(0, $sm) {
		.item {
			.container {
				margin-left: -45%;
			}
		}
		
	}
	
	@include breakpoint(0, $xs) {
		
	}
}