.Box-social {
	@extend ._unstyled;
	position: absolute;
	top: 32px;
	right: 0;
	margin:0;

	li {
		display: inline-block;

		a {
			display: block;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			font-size: 24px;
			line-height: 32px;
			text-align: center;

			i:before {
				width: auto;
				margin: 0;
				vertical-align: middle;
			}
		}
	}
}
