.Contato {
	padding: 120px 0 40px;
	background-size: cover;
	background-position: center;

	@include breakpoint(0, $md) {
		.Row._gutters > ._col-4,
		.Row._gutters > ._col-8 {
			width: 100%;
		}

		.fale, .newsletter {
			float: left;
			width: 50%;
		}
	}

	@include breakpoint(0, $md) {
		.fale, .newsletter {
			float: none;
			width: 100%;
		}

		.newsletter {
			margin-bottom: 60px;
		}
	}
}