.Form {

	div.wpcf7 .ajax-loader {
		width: 20px;
		height: 20px;
		background-image: url('../images/ajax-loader.gif');
		background-size: cover;
	}

	input[type=text], input[type=email], textarea, select {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		color: #fff;
		font-weight: 500;

		&:focus {
			border-color: rgba(255, 255, 255, 0.3);
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #fff;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #fff;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #fff;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #fff;
	}

	.form-item {
		margin-bottom: 25px;
	}

	.small-text {
		position: absolute;
		top: -10px;
		left: 0;
		color: rgba(255,255,255,0.5);
		font-size: 14px;
		font-weight: 500;
		transition: 200ms;
	}
	
	.Button {
		&._w100 {
			width: 100%;
		}
	}

	div.wpcf7-response-output {
		position: absolute;
		bottom: -10px;
		left: 0;
		font-size: 14px;
	}

	.use-floating-validation-tip span.wpcf7-not-valid-tip {
	    top: auto;
	    left: 0;
	    font-size: 10px;
	}

	&._orcamento {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-top: -40px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.16);
		z-index: 1;

		.form-item {
			float: left;
			width: 20%;
			margin: 0;

			input {
				height: 80px;
				padding: 20px 20px 0;
				background-color: $orange;
				border-right: 1px solid rgba(255,255,255,0.3);
			}

			.Button {
				width: 100%;
				padding: 0;
				height: 80px;
				line-height: 80px;

				&._darkgray {
					@include button($white, $black);
				}
			}
		}

		.small-text {
			top: 10px;
			left: 20px;
		}
	}

	&._contato {
		display: block;
		width: 540px;
		max-width: 100%;
		margin: 0 0 0 auto;

		.form-item {
			margin-bottom: 29px;
		}

		._topo {
			background-color: rgba(255,255,255,0.16);
			margin-bottom: 48px;

			.form-item {
				margin-bottom: 0;

				input {
					height: 94px;
					padding: 20px 20px 0;
				}

				.small-text {
					top: 10px;
					left: 20px;
				}
			}

			._border {
				border-right: 1px solid rgba(255, 255, 255, 0.3);

				input {
					border-color: transparent;
				}
			}

			.col:last-child {
				input {
					border-color: transparent;
				}
			}
		}
	}

	&._news {
		.Button {
			padding: 0;
			width: 60px;
		}

		.form-item > div._append span {
			-ms-flex: 1;
			flex: 1;
			padding: 0;
			border: 0;
	    	background-color: transparent;

			&.small-text {
				color: rgba(255,255,255,0.5);
				font-size: 14px;
				font-weight: 500;
			}

			&.wpcf7-not-valid-tip {
				display: none;
			}

			&.ajax-loader {
    			flex: none;
    			position: absolute;
    			left: 0;
    			top: 70px;
			}
		}

		div.wpcf7-response-output {
			top: 50px;
			bottom: auto;
			line-height: normal;
		}
	}

	@include breakpoint(0, $md) {
		&._orcamento {
			.form-item {
				width: 50%;

				&._button {
					width: 100%;
				}
			}
		}

		&._contato {
			width: 100%;
		}
	}

	@include breakpoint(0, $sm) {
		&._contato {
			._topo {
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;

				.col {
					width: 50%;
				}
			}
		}
	}

	@include breakpoint(0, $xs) {
		&._orcamento {
			.form-item {
				width: 100%;
			}
		}

		&._contato {
			._topo {

				.col {
					width: 100%;
				}

				._border {
					border-right: 0;

					input {
						border-color: rgba(255, 255, 255, 0.3);
					}
				}

				.col:last-child {
					input {
						border-color: rgba(255, 255, 255, 0.3);
					}
				}
			}

			.wpcf7-response-output {
				bottom: -40px;
				text-align: center;
			}
		}
	}
}