.Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	border-bottom: 6px solid $orange;
	z-index: 10;
	transition: 200ms;

	.menuToggle {
		display: none;
		position: absolute;
		top: 2px;
		right: 0;
		font-size: 25px;
	}

	.Menu {
		position: absolute;
		top: 30px;
		right: 250px;
	}

	._topo {
		position: absolute;
		top: 6px;
		right: 170px;
	}

	.Button {
		position: absolute;
		top: 4px;
		right: 0;
		width: 140px;
		height: 40px;
		padding: 0;
		border-radius: 20px;
		font-size: 14px;
		font-weight: 500;
		line-height: 40px;
	}

	&._fixed {
		padding: 20px 0;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

		.wow {visibility: visible !important;}
	}

	@include breakpoint(0, $md) {
		.Button {
			width: 100px;
		}

		._topo {
		    right: 110px;
		}

		.Menu {
		    right: 185px;
		}

		.logo {
			width: 120px;
		}
	}

	@include breakpoint(0, $sm) {
		padding: 20px 0;
		background-color: #fff;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

		.Menu {
			background-color: #fff;
			display: none;
			position: absolute;
			top: 64px;
			left: -6%;
			width: 112%;
			height: calc(100vh - 84px);
			padding: 20px 0;
			text-align: center;
			overflow-x: hidden;
		}

		.menuToggle {
			display: block;
		}

		.Button {
			display: none;
		}

		._topo {
		    right: 50px;
		}

	}
}

.Menu {
	.nav {
		li {
			display: inline-block;

			a {
				display: block;
				padding: 12px 15px;
				color: #000;
				font-size: 16px;
				font-weight: 500;
				text-decoration: none;
				
				&:hover {
					color: $orange;
				}
			}

			&.ativo {
				a {
					color: $orange;
				}
			}
		}
	}
}
&._fixed {
	.Menu {
		.nav {
			li {
				a {
					color: $black;
					
					&:hover {
						color: $orange;
					}
				}

				&.ativo {
					a {
						color: $orange;
					}
				}
			}
		}
	}
}

@include breakpoint(0, $md) {
	.Menu {
		.nav {
			li {
				a {
					padding: 12px 5px;
				}
			}
		}
	}
}
@include breakpoint(0, $sm) {
	.Menu {

		.nav {
			li {
				display: block;
				a {
					padding: 5px;
					color: $black;

					&:hover {
						color: $orange;
					}
				}
			}
		}
	}
}