.Itens {
	padding: 90px 0 100px;

	i {
		display: inline-block;
		margin-bottom: 10px;
		color: $orange;
		font-size: 74px;
		line-height: 74px;

		&:before {
			width: auto;
			height: auto;
			margin: 0;
			line-height: normal;
		}
	}

	.item {
		padding: 0 26px;

		p {
			line-height: 1.4;
		}
	}

	.container {
		padding: 0 60px;
	}

	&._bg-orange {
		i {
			color: rgba(255,255,255,0.5);
		}
	}

	&._horizontal {
		padding-bottom: 18px;

		i {
			float: left;
			width: 96px;
			height: 100%;
		}

		p {
			line-height: 1.8;
		}

		.item {
			padding: 0 16px;
			margin-bottom: 40px;
		}
	}

	@include breakpoint(0,$lg) {
		.item {
			padding: 0 16px;
		}

	}

	@include breakpoint(0,$md) {
		.item {
			&._col-4 {
			    width: calc(50% - 3%);
			}
		}

		&._horizontal {
			padding-bottom: 18px;

			i {
				display: block;
				float: none;
				width: 100%;
				height: auto;
			}

			p {
				line-height: 1.4;
			}

			.item {
				padding: 0 26px;
				margin-bottom: 40px;
				text-align: center;
			}
		}

	}

	@include breakpoint(0,$sm) {
		padding: 80px 0 40px;

		.item {
			&._col-4 {
			    width: 100%;
			}
		}


		&._horizontal {
			.item {
				margin-bottom: 0;
			}
		}
	}
	
	@include breakpoint(0,$xs) {

		.container {
			padding: 0;
		}
	}
}