.Logo {
	@include logo('../images/logo.png', 203px, 173px);
	display: inline-block;
	width: 110px;

	&._white {
		display: inline-block;
		width: 200px;
	}

	@include breakpoint(0,$lg) {
	}

	@include breakpoint(0,$md) {
	}

	@include breakpoint(0,$sm) {
	}

	@include breakpoint(0,$xs) {
	}
}