<!DOCTYPE HTML>

<html lang="pt-BR">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="">

	{{ wp_head }}

	<title>{{ wp_title ? wp_title ~ ' - ' }}{{ site.name }}</title>

	<link rel="shortcut icon" href="{{ theme.link }}/src/images/favicon.ico">

	<link rel="stylesheet" type="text/css" href="{{ theme.link }}/assets/css/app.css">

</head>

<body class="{{ fn('get_page_class') }}">
