// GRID
// ============================================================================

$grid-gutter:  3%;


// SIZES
// ============================================================================

$height-input: 60px;


// COLORS
// ============================================================================

//custom
$orange:	#f05223;
$black:		#000000;
$lightgray:	#f8f8f8;
$white:		#fff;


// Texts
$color-text:                  $black;
$color-headings:              $orange;

// Links
$color-link:                  $orange;
$color-link-hover:            $color-text;

// Buttons
$color-button-primary:        $orange;
$color-button-secondary:      $black;


// FONT
// ============================================================================

// Font families
$font-family:     'Droid Sans', sans-serif;

// Texts sizes
$font-size:        18px;




// BORDERS
// ============================================================================

$border-width-input:   1px;
$border-color-input:   rgba(255,255,255,0.3);
$border-radius-input:  0;
$border-radius-button: 0;



// BACKGROUNDS
// ============================================================================

$background-color-input:         transparent;



// BOX SHADOWS
// ============================================================================

$box-shadow-input-focus:         none;