// GERAL
.container {
	position: relative;
	width: 1110px;
	margin: 0 auto;
	

	@include breakpoint(0,$lg) {
		width: 970px;
	}

	@include breakpoint(0,$md) {
		width: 740px;
	}

	@include breakpoint(0,$sm) {
		width: 90%;
	}
}

body {
	padding-top: 127px;
}

section {
	padding: 80px 0 40px;
}

// COLORS
._orange	{color: $orange}
._black		{color: $black}
._lightgray	{color: $lightgray}
._white		{color: $white}

._bg-orange		{background-color: $orange}
._bg-black		{background-color: $black}
._bg-lightgray	{background-color: $lightgray}
._bg-white		{background-color: $white}

// FONTS
._light {
	font-weight: lighter;
}
._sb {
	font-weight: 600;
}

.titulo {
	font-weight: lighter;

	&:before {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		background-color: $orange;
		margin: 0 0 40px;
	}

	&._tac:before {
		margin: 0 auto 40px;
	}

	&._line-white:before {
		background-color: $white;
	}
}

._items-middle {align-items: center;}

// RESPONSIVE
@include breakpoint(0, $md) {
}

@include breakpoint(0, $sm) {
	.open-menu {
		overflow: hidden;
	}

	.wow {
		visibility: visible !important;
		animation-name: none !important;
	}

	.Row {
		&._gutters {
			> .col, 
			> .Row > .col {
				width: 100%;
			}
		}

		.col {
			&._last,
			&._first {
				order: 0;
			}
		}
	}

}